body {
    background-color: darkgreen; 
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
}

h1 {
    font-size: 2.5rem; /*dif between px and rem*/
    text-transform: uppercase; 
    margin-top: 20px;
}

h2 {
    font-size: 1.8rem;
    text-decoration: underline;
    margin: 20px 0;
}

p {
    font-size: 1.2rem; 
    line-height: 1.8; 
    margin: 0 15%;
}